{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>Thunders!</h1>
            <br/>
            {% for thunder in thunders %}
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                {% if thunder.user.profile.profile_image %}
                                    <img src="{{ thunder.user.profile.profile_image.url }}"
                                         width="50" height="50" class="rounded-circle" alt="{{ profile.user.username }}">
                                {% else %}
                                    <img src="{% static 'images/default-profile.jpg' %}"
                                         width="50" height="50" class="rounded-circle" alt="{{ profile.user.username }}">
                                {% endif %}
                            </div>
                            <div class="col-10">
                                {{ thunder.text }}<br/>
                                <small class="text-muted">
                                    {{ thunder.created_at }} By {{ thunder.user.username }}
                                    - {{ thunder.number_of_likes }} likes

                                    {% if user in thunder.likes.all %}
                                        <a href="{% url 'thunder_like' thunder.id %}">
                                            <i class="fa-solid fa-heart" style="color:red"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'thunder_like' thunder.id %}">
                                            <i class="fa fa-heart-o" style="color:red"></i>
                                        </a>
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-4">
            <div class="text-right" style="margin-top: 50px;">
                {% if form %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary">Thunder</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}